*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

.swiper {
  width: 100%;
  height: 100vh;
}
.swiper-pagination{
  z-index: 10;
}
img{
  width: 100%;
  height: 100%;
}
.title{
  position: absolute;
  padding: 20px;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 3rem;
  text-align: center;
  background-color: rgba(129, 129, 130, 0.715);
}

.setumei{
  position: absolute;
  padding: 20px 100px;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(129, 129, 130, 0.715);
}
#option{
  position: absolute;
  font-size: 1.5rem;
  margin: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  z-index: 10;
}
#option :hover{
  background-color: rgba(99, 99, 99, 0.8);
}

#optionmenue{
  position: absolute;
  top: 60px;
  left: 10px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
}
#optionend{
  border: solid .5px black;
  margin: 5px;
  padding: 1px 1px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
#output1, #output2{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px;
  border-radius: 5px;
}
#clock{
  margin: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.tukurikata{
  margin: 10px 0;
  text-align: left;
  display: flex;
}

.time{
  margin: 30px 0;
}